# General
*.pyc
notebooks/.ipynb_checkpoints
.virtualenvs
.DS_Store

# notebook info
.ipynb_checkpoints

# mypy cache
.mypy_cache

# Terraform
.terraform

# egg
*.egg-info

.env

predict_cpt_codes.egg-info

.vscode/

#
data/
